body{
	background-color:#FFFF00;}/*colocar cor amarelo no corpo(body)*/
h1,h2,h3{
	font-family: verdana, tahoma;}/*mudar a fonte(h,h2eh3*/
section{
   background-color: #FFFFFF;/*colocar cor no corpo(section)*/
   font-family:Arial;
   padding: 10px;}/*tamanho do caracter*/
footer{
	background-color: #000000;
	color:#FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;/*alinhar o texto*/
	padding: 8px;
}   
img{
	max-width: 100%;
}/*torna o site responsivel*/
nav{
	background-color: #000000;
	height: 35px;
	font-family: Verdana;
	font-weight: bold;/*vai colocar em negrito*/
	font-size: 14px;
}
nav ul{
	height: auto;
	padding: 8px 0px;/*espaçamento interno, elimina as bolinhas*/
	margin: 0px
}
nav li{
	display: inline;/*deixa os links um do lado do outro*/
	padding: 10px;
	margin: 0px
}
nav a{
	text-decoration: none;/*tira o sublinhado*/
	color: #FFFFFF;/*bbranco*/
	padding: 8px 8px 8px 8px;/*em cima embaixo do lado do outro*/
}
nav a:hover{/*hover significa; com o mouse em cima*/
	color: #000000;
	background-color: #FFFFFF;
}
@media all and(min-width: 960px)/*se a resolução for menor que isso, mude isso*/
{
	body
	{
	width:960px;
	margin: auto;
}
}
@meddia all and( max-width: 480px)
{
nav
{height: 100%}
nav li{
	display: block;/*de vertical para horizontal*/
	padding: 10px
	margin:0px;
}
.section img{
	display: inline;/*deixa os links um do lado do outro*/
}



}